.reg-main{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.reg-container {
  background-color: #f9d261;
  border-radius: 25px;
  width: 450px;
}

h1 {
  text-align: center;
}
.re-user{
  margin-left: 55px;
}

.re-email{
  margin-left: 90px;
}

.re-password{
  margin-left: 60px;
}

.re-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.re-form-group {
  display: flex;
  align-items: center;;
}

.re-form-group input {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}
.re-form-group label {
  font-weight: bold;
  color: #374785;
}


.login-button {
  background-color: #374785;
  color: #f9d261;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #243256;
}
