.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  color: black;
}

.hero {
  display: flex;
  flex-direction: column ;
  background-color: #f2f2f2;
  width: 100%;
}
h2,p{
  text-align: center;
}


section {
  padding: 40px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

