.tab-container {
  display: flex;
  justify-content: center;
  padding: 24px 0 0 0;
}

.tab {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
  font-weight: 700;
}

.tab.active {
  border-bottom: 2px solid black;
  background-color: #f9d261;
  color: #fff;
}